body{
     font-family: "Plus Jakarta Sans", sans-serif !important; 
     display: flex;
     flex-direction: column;
     min-height: 100vh;
}

.container{
    flex: 1;
}

#filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.filter{
    margin-right: 1.5rem;
    margin-top: 0.9rem;
    text-align: center;
    opacity : 0.7;
}
.filter:hover {
    opacity : 1;
    cursor: pointer;
}

.filter p {
    font-size: 0.8rem;
}
/* Navbar */
.navbar{
    min-height: 5rem;
    background-color: white;
}

.fa-compass{
    color:#fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

#btn-search{
    background-color: #fe424d;
    color: #fff;
    border-radius: 20px;
    padding: 0 1rem 0 1rem;
}

#btn-search i{
    display: inline;
}

.search-inp{
    padding: 0.5rem 3rem 0.5rem 3rem;
    border-radius: 15px;
}

/* Footer */
.f-info-links a{
    text-decoration: none;
    color:#222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info{
    height:8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ebebeb;
}



.f-info-socials,
.f-info-links,
.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.f-info-socials i{
    margin-right: 1rem;font-size: 1.3rem;
}


/* cards */

.listing-card{
    border:none !important;
    margin-bottom:2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
    margin: 0 !important;
}

.card-text{
    font-weight: 400 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.listing-link{
    text-decoration: none;
}

/* card effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity:0.2;
    background-color: white;
}

.add-btn{
    background-color: #fe424d !important;
    color: white !important;
}
/* edit page */
.edit-btn{
    background-color: #fe424d !important;
    color: white !important;
    border: none !important;
}

/* show page */

.show-img{
    height: 50vh;
}

.show-btns{
    display:flex;
}

.show-card{
    padding:0rem;
}

.exc-icon{
    width: 1.5rem;
}

.alert{
    padding:0;
    padding-top: 0rem;
}

.err-msg{
    padding-top: 0rem;
}

/*reviews*/
.small-text{
    font-size: 0.8rem;
}

.review-card{
    justify-content: center;
}

#map {
    width: 60vw;
    height: 350px;
    border-radius: 15px;
}

.marker {
    display: block;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 50px;
    height: 50px;
}

.coordinates {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}

.taxInfo{
    display : none;
}

.tax-toggle{
    border: 1px solid black;
    height : 3rem;
    padding: 0.72rem;
    border-radius: 0.9rem;
    display: flex;
    align-items: center;
    margin-left: 2rem;
}
/* Responsive adjustments */
@media (max-width: 768px) {

    .show-img {
        max-height: 40vh;
    }

    #map {
        height: 250px;
        width: 95vw;   /* smaller map on mobile */
    }

    .show-btns {
        flex-direction: column;
        gap: 0.5rem;
    }
    .listing-card{
        width: 96%;
    }
}